//fonts
$font-family: 'Roboto Slab', serif;

//color
$background-color:#424949 ;//#1C2833
$text-color:#ECF0F1 ;
$background-color2: #5d6d7e4f;
$album-color:#17202A;

//media screens

$laptop:1024px;
$tablet:820px;
$mobile:540px;
$small-device:375px;